<!--<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2rem" fxLayoutAlign="center">
  <app-todo fxFlex.lg="33" fxFlex.lt-lg="50" fxFlex.xs="100" *ngFor="let todo of todos" [todo]="todo"></app-todo>
</div>-->
<div class="card" style="margin-top: 3rem;">
  <div class="card-body">
    <ng-content></ng-content>
    <div class="container">
      <div class="row no-gutters">
        <div class="col" *ngFor="let todo of todos">
          <app-todo [todo]="todo"></app-todo>
        </div>
      </div>
    </div>
  </div>
</div>