<!--<div class="navbar navbar-expand-lg navbar-dark md-primary">
  <logo>
    <a class="logo navbar-brand">
      <strong>Bossy</strong>
    </a>
  </logo>
  <navlinks>
    <ul class="nav navbar-nav nav-flex-icons ml-auto" *ngIf="auth.authState | async as user;">
      <li class="nav-item">
        <span class="nav-link waves-light" mdbWavesEffect>
          <a (click)="logout()"><i class="fa fa-user"></i></a>
          <span class="clearfix d-none d-sm-inline-block">Hi, {{ user.displayName }}</span>
        </span>
      </li>
    </ul>
  </navlinks>
</div> -->
<app-navbar></app-navbar>
<div *ngIf="auth.authState | async">
  <app-todo-list [todos]="todos$ | async">
    <button class="btn btn-outline-primary float-sm-right" style="margin-bottom: 1rem;" (click)="showAddTodo()">Add a Todo</button>
  </app-todo-list>
</div>