<div class="card" style="width: 18rem;">
  <div class="card-header">
    {{todo.title}}
    <button type="button" class="close" aria-label="Close" (click)="delete()">
      <i class="fa fa-times" aria-disabled="true"></i>
    </button>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle">Due on {{todo.due.toLocaleDateString('en-us')}} at {{todo.due.toLocaleTimeString('en-us')}}</h6>
    <p class="card-text">
      {{todo.desc}}
    </p>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <label for="completedControl">Completed</label>
        <input type="checkbox" (click)="finishedChange()" [checked]="todo.completed"/>
      </div>
      <div>
        <button type="button" class="btn btn-outline-primary align-content-end" (click)="edit()">
          <i class="fa fa-wrench"></i>Edit</button>
      </div>
    </div>
  </div>
</div>