<!--<div class="card card-cascade narrower">
  <div class="text-left">
    <div class="view gradient-card-header peach-gradient">
      <h2 class="h2-responsive mb-2">{{ todo.title }}</h2>
      <p class=""><i class="fa fa-calendar"></i></p>
    </div>
    <div class="card-body text-center">
      <p class="card-text mr-2 ml-2">
        {{ todo.desc }}
      </p>
      <a href="#" class="orange-text mt-1 d-flex flex-row-reverse">
        <h5 class="waves-effect p-2" mdbWavesEffect>Edit <i class="fa fa-chevron-circle-right"></i></h5>
      </a>
    </div>
    <div class="card-footer text-muted">
      <div class="text-left">
        Due: {{todo.due}}
      </div>
      <div class="text-right">
        <label for="check-complete" class="form-check-label">Completed</label>
        <input type="checkbox" [checked]="todo.completed" (change)="completeChange()" class="form-check-input" id="check-complete">
      </div>
    </div>
  </div>
</div> -->

<!--
<mat-card style="margin-top: 0.5rem; margin-block-end: 1rem;">
  <mat-card-title-group>
    <mat-card-title>
      {{ todo.title }}
    </mat-card-title>
    <mat-card-subtitle>
      <mat-icon>today</mat-icon>
      Due: {{ dateTimeStr }}
    </mat-card-subtitle>
    <button mat-icon-button (click)="delete()"><mat-icon>clear</mat-icon></button>
  </mat-card-title-group>
  <mat-card-content>
    <p>{{ todo.desc }}</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-checkbox (change)="finishedChange($event)" [checked]="todo.completed">Completed</mat-checkbox>
    <button mat-raised-button (click)="edit()">Edit</button>
  </mat-card-actions>
</mat-card>-->
<div class="card" style="width: 18rem;">
  <div class="card-header">
    {{todo.title}}
    <button type="button" class="close" aria-label="Close" (click)="delete()">
      <i class="fa fa-times" aria-disabled="true"></i>
    </button>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle">Due on {{todo.due.toLocaleDateString('en-us')}} at {{todo.due.toLocaleTimeString('en-us')}}</h6>
    <p class="card-text">
      {{todo.desc}}
    </p>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <label for="completedControl">Completed</label>
        <input type="checkbox" (click)="finishedChange()" [checked]="todo.completed"/>
      </div>
      <div>
        <button type="button" class="btn btn-outline-primary align-content-end" (click)="edit()">
          <i class="fa fa-wrench"></i>Edit</button>
      </div>
    </div>
  </div>
</div>